/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #FFA500;
}

section {
}

#left {
  float: left;
    width: 33%;
    color: #fff;
    background: #30948D;
    padding: 20px;
}

#middle {
  float: left;
  width: 33%;
  color: #fff;
  background: #9e1212;
  padding: 20px;
}

#right {
  float: left;
    width: 33%;
    color: #fff;
    background: #30948D;
    padding: 20px;
}


#full {
  width: 100%
  padding: 68px;
}

#division {
}

aside {
}

footer {
  padding: 20px;
    margin-bottom: 20px;
    color: #333;
    background: #FFA500;
}
